.profile_picture{
    width: 75px;
    min-width: 75px;
    height: 75px;
    min-height: 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}