
.erreur{
    p{
        border: 1px solid #E10000;
        color:  #E10000;
        background-color: #fdeded;
        padding: 6px 12px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 25px;
        background-position-x: 6px;
    }
}