.profile_score{
    h3{
        font-size: 48px !important;
        font-weight: 600 !important;
        color: #607D8B !important;
        padding-top: 35px;
    }
    .rate{
        font-size: 35px;
    }
}