.categories_list{
    h3{
        font-weight: 700 !important;
        font-size: 14px !important;
    }
    li{
        position: relative;
        border-bottom: 1px solid;
        a{
            display: block;
            padding: 10px 0px;
        }
        &.active{
            a{
                color: var(--primary_color);
            }
            border-bottom: 1px solid var(--primary_color);
            padding-left: 20px;
        }
    }
}
.filter_menu{
    /*
    position: sticky;
    top: 0pX;
    z-index: 9999;
    */
}
.filter_sidebar{
    position: sticky;
    top: 55px;
}



.image_profile{
    width: 122px;
    height: 122px;
    position: relative;
}