<section class="d-flex align-items-center justify-content-center h-100" *transloco="let t">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7 text-center">
                <img src="./../../assets/img/error-404.svg" alt="" class="img-fluid mb-4">
                <p class="text-center pt-4">
                    {{ t('THE_PAGE_YOUR_ARE_LOKKING_FOR_CANNOT_BE_FOUND') }}
                </p>

                <ul class="list-inline py-4 text-center">
                    <li class="list-inline-item px-2"> <a class="primaty" routerLink="/me"> {{ t('MY_PROFILE') }} </a> </li>
                    <li class="list-inline-item px-2"> <a class="primaty" routerLink="/projets"> {{ t('PROJECTS') }} </a> </li>
                    <li class="list-inline-item px-2"> <a class="primaty" routerLink="/prestataires"> {{ t('PRESTATAIRES') }} </a> </li>
                    <li class="list-inline-item px-2"> <a class="primaty" routerLink="/jobs"> {{ t('JOBBOARD') }} </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>


 