<ng-container *transloco="let t" >
    <section class="evolution pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 pt-5">
                    <img src="./../../../../assets/img/website/meet-and-build-interface-detail-profil.png" alt="" class="img-fluid mr-3"> 
                </div>
                <div class="col-sm-5 text-left pl-4">
                    <img src="./../../../../assets/img/website/Geoffroy-Marichal.jpeg" class="collaborateur border-raduis-15 img-fluid mb-3">  
                    <div class="d-flex align-items-center justify-content-start ">
                        <img src="./../../../../assets/img/website/quotes.svg" alt="" class="img-fluid mr-3">                                                     
                        <h2 class="mb-0" [innerHTML]="t('website.IT_IS_THE_INDUSTRY_REVOLUTION_BUILGIND_AND_RENOVATION')"></h2>
                    </div>
                    <p class="mr-sm-5" [innerHTML]="t('website.IT_IS_THE_INDUSTRY_REVOLUTION_BUILGIND_AND_RENOVATION_DESCRIPTION')"></p>
                </div>
            </div>
        </div>
    </section>
</ng-container>




