<section class=" d-flex align-items-center justify-content-center h-100" *transloco="let t; lang: 'fr'">
    <div class="container reset-password">
        <div class="row justify-content-center ">
            <div class="col-sm-6 p-5 shadow">

                <div class="w-100 text-center pt-5">
                    <img src="./../../../assets/img/logo/meet&build.svg" alt="meet and build logo">
                </div>
                <form [formGroup]="resetForm" class="w-100 pt-4 px-5 meduim" (ngSubmit)="onSubmit()">

                    <p class="my-2">{{ t('RESET_NEWPASSWORD') }}</p>
                    <mat-form-field appearance="outline" class="mb-0">
                        <input [type]="show1 ? 'text' : 'password'" matInput formControlName="new_password" required placeholder="{{ t('NEW_PASSWORD') }}">
                        <mat-icon matSuffix (click)="show1 = !show1">{{show1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="resetForm.controls['new_password'].touched && resetForm.controls['new_password'].errors?.invalidPassword" class="elhoo_compte_messageErrorPositionModal">
                        {{ t('ENTER8CHARMAJ')}}
                    </mat-error>
                    <p class="max-length">{{t('MAX_CHAR')}}</p>

                    <mat-form-field appearance="outline" class="mb-0">
                        <input [type]="show2 ? 'text' : 'password'" matInput formControlName="conf_password" required placeholder="{{ t('RETAP_PASSWORD') }}">
                        <mat-icon matSuffix (click)="show2 = !show2">{{show2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                    <mat-error class="" *ngIf="resetForm.get('conf_password').touched && resetForm.get('conf_password').invalid && resetForm.get('conf_password').errors.passwordnoConfirm">
                        {{ t('PASSWORDNOTCONFIRMED') }}
                    </mat-error>

                    <button type="submit" class="btn center primary my-3 px-5">
                        {{ t('REINITIALISE') }}</button>
                    <!-- <ngb-alert class="d-flex alert-failed" *ngIf="passwordnoConfirm">
                        <span>
                        <svg  width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 6L5 9L10 3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </span>
                        <p class="mx-2">{{ t(responseMessage) }}</p>
                    </ngb-alert> -->
                    <p class="pt-4 w-100 text-center">{{ t('YOUDONTHAVEACCOUNT') }} <a routerLink="/register">{{ t('CREATEACCOUNT') }}</a></p>
                </form>
            </div>
        </div>
    </div>
</section>