.subheader {
    background-image: url('../../../../../assets/img/discuss-subheader.jpeg');
    height: 121px;
    background-size: cover;
    color: #fff !important;
    &.pt-5::after {
        content: '';
        background: rgba(17, 59, 58, 0.35);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    h3 {
        color: #fff !important;
    }
}

.message {
    a,
    span {
        color: #fff !important;
    }
    color: #fff !important;
    display: flex;
    justify-content: center;
}