<section #mySection class="w-100"></section>
<div *transloco="let t">
    <app-navigation></app-navigation>
    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a mat-button routerLink="/about-us">About us</a>
                <a mat-button routerLink="/prices">Prices</a>
                <a mat-button routerLink="/start-page">Start page</a>
                <a mat-button routerLink="/offer">Offer</a>
                <a mat-button routerLink="/contact">Contact</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>

            <section class="header py-5 background-center-cover text-center "
                style="background-image: url('./../../../assets/img/website/background-parallax-job.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="color-white mb-0" [innerHTML]="t('website.PRIVACY_POLICY')"></h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page-contenu py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>Mise à jour le 9 juin 2021</p>

                            <h2>1. Parties et Objet</h2>
                            <ul>
                                <li>Mageo srl (ci-après "Mageo" ou le "Responsable du Traitement")</li>
                                <li>Av. Léonard Mommaerts 11, 1140 Evere</li>
                                <li>BCE / TVA : BE0755.823.901</li>
                                <li>Mail : info@meetandbuild.com</li>
                                <li>Téléphone : 0477390044</li>
                            </ul>
                            <p>Mageo établit la présente Politique de confidentialité dont l'objet est d'informer en
                                toute transparence les Utilisateurs du site internet hébergé à l'adresse suivante :
                                www.meetandbuild.com, (ci-après le "Site"), de la manière dont les données personnelles
                                sont récoltées et traitées par Mageo.</p>
                            <p>Le terme "Utilisateur" fait référence à tout utilisateur, soit toute personne physique ou
                                morale, qui visite ou interagit d'une quelconque manière avec le Site.</p>
                            <p>A ce titre, Mageo détermine tous les moyens et finalités techniques, juridiques et
                                organisationnelles du traitement des données personnelles des Utilisateurs. Mageo
                                s'engage à cet effet à prendre toutes les mesures nécessaires pour garantir un
                                traitement des données personnelles conforme à la loi du 30 juillet 2018, relative à la
                                protection des personnes physiques à l'égard des traitements des données à caractère
                                personnel (ci-après, "la Loi") et au Règlement européen du 26 avril 2016 relatif à la
                                protection des données des personnes physiques à l'égard du traitement des données à
                                caractère personnel et à la libre circulation de ces données (ci-après le "Règlement").
                            </p>
                            <p>Mageo est libre de choisir toute personne physique ou morale qui traite les données
                                personnelles des utilisateurs à sa demande et pour son compte (ci-après le
                                "Sous-traitant"). Le cas échéant, Mageo s'engage à sélectionner un Sous-traitant offrant
                                des garanties suffisantes quant aux mesures de sécurité techniques et organisationnelles
                                du traitement des données personnelles, au regard de la Loi et du Règlement.</p>

                            <h2>2. Traitement des données personnelles</h2>
                            <p>L'utilisation du Site par les Utilisateurs pourra entraîner la communication de données
                                personnelles. Le traitement de ces données par Mageo, en sa qualité de Responsable du
                                traitement, ou par les prestataires agissant au nom et pour le compte de Mageo, sera
                                conforme à la Loi et au Règlement.</p>
                            <p>Les données à caractère personnel seront traitées par Mageo, conformément aux finalités
                                citées plus bas, via :</p>
                            <ul>
                                <li>Une procédure automatisée, le formulaire d'inscription à la newsletter,
                                    l'utilisation de cookies, l'envoi d'enquête ou questionnaire, le partage de contenu
                                    gratuit</li>
                            </ul>

                            <h2>3. Finalité du traitement des données personnelles</h2>
                            <p>Conformément à l'article 13 du Règlement, les finalités du traitement des données
                                personnelles sont communiquées à l'Utilisateur et sont les suivantes :</p>
                            <ul>
                                <li>1. Assurer l'exécution des services proposés et convenus sur le site.</li>
                                <li>2. Assurer le contrôle de l'exécution des services proposés;</li>
                                <li>3. Effectuer des activités de marketing et d'informations promotionnelles après
                                    consentement préalable de l'Utilisateur et jusqu'à révocation de ce consentement,
                                    par exemple, l'envoi de promotions sur les produits et services du responsable du
                                    traitement.</li>
                                <li>4. Répondre aux questions de l'Utilisateur;</li>
                                <li>5. Réaliser des statistiques afin d'améliorer le Site internet, les services
                                    proposés et l'organisation interne de fonctionnement;</li>
                                <li>6. Améliorer la qualité du Site et des produits et services proposés par le
                                    responsable du traitement;</li>
                                <li>7. Permettre une meilleure identification des centres d'intérêt de l'Utilisateur.
                                </li>
                            </ul>

                            <h2>4. Données personnelles susceptibles d'être traitées</h2>
                            <p>L'Utilisateur consent, lors de la visite et lors de l'utilisation du Site, que Mageo
                                recueille et traite, selon les modalités et principes décrits dans la présente Politique
                                de confidentialité, les données à caractère personnel suivantes :</p>
                            <ul>
                                <li>1. Les informations des Utilisateurs qu'ils donnent à des fins contractuelles et
                                    pour permettre la bonne exécution des obligations réciproques, à savoir, le nom,
                                    prénom, société adresse, numéro IBAN et données bancaires, compétences,
                                    références,...; et plus généralement, toute information volontairement donnée par
                                    l'Utilisateur;</li>
                                <li>2. Les informations des utilisateurs en remplissant des formulaires ou en contactant
                                    par téléphone, adresse électronique ou autre moyen, par exemple le nom, l'adresse,
                                    l'adresse électronique et le numéro de téléphone des Utilisateurs.</li>
                                <li>3. En ce qui concerne chacune des visites des utilisateurs sur le Site, les
                                    informations automatiquement recueillies sont :
                                    <ul>
                                        <li>a. l'adresse IP, le type et le modèle de navigateur, le fuseau horaire, le
                                            système d'exploitation;</li>
                                        <li>b. L'ensemble de l'information concernant les pages que l'utilisateur a
                                            consultées sur le Site notamment l'URL, le temps de navigation...</li>
                                    </ul>
                                </li>
                            </ul>

                            <h2>5. Consentement</h2>
                            <p>En accédant au Site et en l'utilisant, l'Utilisateur déclare avoir pris connaissance et
                                marqué son accord de façon libre, spécifique, éclairée et univoque au traitement des
                                données à caractère personnel la concernant. Cet accord porte sur le contenu de la
                                présente Politique de confidentialité.</p>
                            <p>Le consentement est donné par l'acte positif par lequel l'Utilisateur a coché la case
                                proposant la Politique de confidentialité en lien hypertexte. Ce consentement est une
                                condition indispensable pour effectuer certaines opérations sur le Site ou pour
                                permettre à l'Utilisateur d'entrer en relation contractuelle avec Mageo. Tout contrat
                                liant Mageo et un Utilisateur portant sur les services et biens proposés sur le Site est
                                subordonné à l'acceptation de la Politique de confidentialité par l'Utilisateur.</p>
                            <p>L'Utilisateur consent à ce que le Responsable du Traitement traite et recueille,
                                conformément aux modalités et principes compris dans la présente Politique de
                                confidentialité, ses données à caractère personnel qu'il communique sur le Site ou à
                                l'occasion des services proposés par Mageo, pour les finalités indiquées plus haut.</p>
                            <p>L'Utilisateur a le droit de retirer son consentement à tout moment. Le retrait du
                                consentement ne compromet pas la licéité du traitement fondé sur le consentement
                                préalablement donné.</p>

                            <h2>6. Durée de conservation des données personnelles des Utilisateurs</h2>
                            <p>Conformément à l'article 13 §2 du Règlement et de la Loi, le Responsable du Traitement ne
                                conserve les données à caractère personnel que pendant le temps raisonnablement
                                nécessaire pour permettre l'accomplissement des finalités pour lesquelles elles sont
                                traitées.</p>
                            <p>Cette durée est dans tous les cas inférieure à : 1 an</p>

                            <h2>7. Destinataires des données et divulgation à des tiers</h2>
                            <p>Les données personnelles peuvent être transmises aux préposés, collaborateurs,
                                sous-traitants ou fournisseurs de Mageo qui offrent des garanties de sécurité des
                                données adéquates, et qui collaborent avec le Mageo dans le cadre de la
                                commercialisation de produits ou de la fourniture de services. Ils agissent sous
                                l'autorité directe de Mageo, et sont notamment responsables de recueillir, de traiter ou
                                de sous-traiter ces données.</p>
                            <p>Dans tous les cas, les destinataires des données et ceux à qui ces données ont été
                                divulguées respectent le contenu de la présente Politique de confidentialité. Mageo
                                assure qu'ils traiteront ces données aux seules finalités prévues, de façon discrète et
                                sécurisée.</p>
                            <p>Dans l'hypothèse où les données seraient divulguées à des tiers à des fins de marketing
                                direct ou de prospection, l'Utilisateur en sera préalablement informé pour qu'il exprime
                                son consentement à l'utilisation de ces données personnels.</p>

                            <h2>8. Droits des Utilisateurs</h2>
                            <p>A tout moment, l'Utilisateur peut exercer ses droits en envoyant un message par courrier
                                électronique à l'adresse suivante : info@meetandbuild.com, ou une lettre par voie
                                postale adressée, en joignant une copie de sa carte d'identité à l'adresse suivante :
                                EvereAv. Léonard Mommaerts 11, 1140 Evere</p>
                            <h3>a. Droit d'accès</h3>
                            <p>Conformément à l'article 15 du Règlement, Mageo garantit le droit d'accès à l'Utilisateur
                                à ses données personnelles. L'Utilisateur a le droit d'obtenir l'accès auxdites données
                                à caractère personnel ainsi que les informations suivantes:</p>
                            <ul>
                                <li>- les finalités du traitement ;</li>
                                <li>- les catégories de données à caractère personnel concernées ;</li>
                                <li>- les destinataires ou catégories de destinataires auxquels les données à caractère
                                    personnel ont été ou seront communiquées, en particulier les destinataires qui sont
                                    établis dans des pays tiers ou les organisations internationales ;</li>
                                <li>- lorsque cela est possible, la durée de conservation des données à caractère
                                    personnel envisagée ou, lorsque ce n'est pas possible, les critères utilisés pour
                                    déterminer cette durée ;</li>
                                <li>- l'existence d'une prise de décision automatisée, y compris un profilage, visée à
                                    l'article 22, paragraphes 1 et 4 du Règlement, et, au moins en pareils cas, des
                                    informations utiles concernant la logique sous-jacente, ainsi que l'importance et
                                    les conséquences prévues de ce traitement pour la personne concernée</li>
                            </ul>
                            <p>Le Responsable du Traitement peut exiger le paiement de frais raisonnables basés sur les
                                coûts administratifs pour toute copie supplémentaire demandée par l'Utilisateur.</p>
                            <p>Lorsque l'Utilisateur introduit cette demande par voie électronique (par le biais de
                                l'adresse électronique par exemple), les informations sont fournies sous une forme
                                électronique d'usage courant, à moins que l'Utilisateur ne demande qu'il en soit
                                autrement.</p>
                            <p>La copie de ses données sera communiquée à l'Utilisateur au plus tard dans le mois après
                                la réception de la demande.</p>
                            <h3>b. Droit de rectification</h3>
                            <p>Mageo garantit le droit de rectification et d'effacement des données personnelles à
                                l'utilisateur.</p>
                            <p>Conformément à l'article 16 du Règlement, les données incorrectes, inexactes ou
                                non-pertinentes peuvent être corrigées ou effacées à tout moment. L'Utilisateur procède
                                d'abord lui-même aux modifications nécessaires depuis son compte utilisateur/autre, sauf
                                si celles-ci ne peuvent être effectuées de manière autonome, dans quel cas la demande
                                peut en être faite auprès de Mageo.</p>
                            <p>Conformément à l'article 19 du Règlement, le Responsable du traitement notifie à chaque
                                destinataire auquel les données à caractère personnel ont été communiquées toute
                                rectification des données à caractère personnel, à moins qu'une telle communication se
                                révèle impossible ou exige des efforts disproportionnés. Le responsable du traitement
                                fournit à la personne concernée des informations sur ces destinataires si celle-ci en
                                fait la demande.</p>
                            <h3>c. Droit à l'effacement</h3>
                            <p>L'Utilisateur a le droit d'obtenir l'effacement de ses données personnelles dans les
                                meilleurs délais dans les hypothèses énumérées à l'article 17 du Règlement.</p>
                            <p>Lorsque le Responsable de Traitement a rendu publiques les données à caractère personnel
                                et qu'il est tenu de les effacer en vertu du paragraphe précédent, le Responsable du
                                traitement, compte tenu des technologies disponibles et des coûts de mise en œuvre,
                                prend des mesures raisonnables, y compris d'ordre technique, pour informer les autres
                                responsables du traitement qui traitent ces données à caractère personnel que la
                                personne concernée a demandé l'effacement par ces responsables du traitement de tout
                                lien vers ces données à caractère personnel, ou de toute copie ou reproduction de
                                celles-ci.</p>
                            <p>Les deux paragraphes précédents ne s'appliquent pas dans la mesure où ce traitement est
                                nécessaire:</p>
                            <ul>
                                <li>à l'exercice du droit à la liberté d'expression et d'information;</li>
                                <li>pour respecter une obligation légale qui requiert le traitement prévue par le droit
                                    de l'Union ou par le droit de l'État membre auquel le responsable du traitement est
                                    soumis, ou pour exécuter une mission d'intérêt public ou relevant de l'exercice de
                                    l'autorité publique dont est investi le responsable du traitement;</li>
                                <li>à la constatation, à l'exercice ou à la défense de droits en justice.</li>
                            </ul>
                            <p>Conformément à l'article 19 du Règlement, le Responsable du traitement notifie à chaque
                                destinataire auquel les données à caractère personnel ont été communiquées tout
                                effacement de données à caractère personnel ou toute limitation du traitement effectué,
                                à moins qu'une telle communication se révèle impossible ou exige des efforts
                                disproportionnés. Le responsable du traitement fournit à la personne concernée des
                                informations sur ces destinataires si celle-ci en fait la demande.</p>
                            <h3>d. Droit de limitation du traitement</h3>
                            <p>L'Utilisateur a le droit d'obtenir la limitation du traitement de ses données
                                personnelles dans les hypothèses énumérées à l'article 19 du Règlement.</p>
                            <p>Conformément à l'article 19 du Règlement, le Responsable du traitement notifie à chaque
                                destinataire auquel les données à caractère personnel ont été communiquées toute
                                limitation du traitement effectué, à moins qu'une telle communication se révèle
                                impossible ou exige des efforts disproportionnés. Le responsable du traitement fournit à
                                la personne concernée des informations sur ces destinataires si celle-ci en fait la
                                demande.</p>
                            <h3>e. Droit de portabilité des données</h3>
                            <p>Conformément à l'article 20 du Règlement, les Utilisateurs ont le droit de recevoir de
                                Mageo les données à caractère personnel les concernant dans un format structuré,
                                couramment utilisé et lisible par machine. Les Utilisateurs ont le droit de transmettre
                                ces données à un autre responsable du traitement sans que Mageo y fasse obstacle dans
                                les cas prévus par le Règlement.</p>
                            <p>Lorsque l'Utilisateur exerce son droit à la portabilité des données en application du
                                paragraphe précédent, elle a le droit d'obtenir que les données à caractère personnel
                                soient transmises directement d'un responsable du traitement à un autre, lorsque cela
                                est techniquement possible.</p>
                            <p>L'exercice du droit de portabilité des données s'entend sans préjudice du droit à
                                l'effacement. Ce droit ne s'applique pas au traitement nécessaire à l'exécution d'une
                                mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est
                                investi le responsable du traitement.</p>
                            <p>Le droit de portabilité des données ne porte pas atteinte aux droits et libertés de
                                tiers.</p>
                            <h3>f. Droit d'opposition et prise de décision individuelle automatisée</h3>
                            <p>L'Utilisateur dispose à tout moment du droit de s'opposer au traitement de ses données
                                personnelles en raison de sa situation particulière, y compris l'automatisation des
                                données effectuée par Mageo. Conformément à l'article 21 du Règlement, Mageo ne traitera
                                plus les données à caractère personnel, à moins qu'il existe des motifs légitimes et
                                impérieux pour le traitement qui prévalent sur les intérêts et les droits et libertés de
                                l'Utilisateur, ou pour la constatation, l'exercice ou la défense de droits en justice.
                            </p>
                            <p>Lorsque les données à caractère personnel sont traitées à des fins de prospection,
                                l'Utilisateur a le droit de s'opposer à tout moment au traitement des données à
                                caractère personnel la concernant à de telles fins de prospection, y compris au
                                profilage dans la mesure où il est lié à une telle prospection.</p>
                            <p>Lorsque la personne concernée s'oppose au traitement à des fins de prospection, les
                                données à caractère personnel ne sont plus traitées à ces fins.</p>
                            <h3>g. Droit de plainte</h3>
                            <p>L'Utilisateur dispose du droit d'introduire une plainte concernant le traitement de ses
                                données personnelles par Mageo auprès de l'Autorité de Protection des Données,
                                compétente pour le territoire belge. De plus amples informations peuvent être trouvées
                                sur le site internet: https://www.autoriteprotectiondonnees.be.</p>
                            <p>L'introduction d'une plainte se fait aux adresses suivantes:</p>
                            <ul>
                                <li>Autorité de Protection des Données</li>
                                <li>Rue de la Presse 35, 1000 Bruxelles</li>
                                <li>Tél. + 32 2 274 48 00</li>
                                <li>Fax. + 32 2 274 48 35</li>
                                <li>E-mail: contact@apd-gba.be</li>
                            </ul>
                            <p>L'Utilisateur peut également introduire une plainte auprès du tribunal de première
                                instance de son domicile.</p>
                            <h2>9. Cookies</h2>
                            <p>Le Site utilise des cookies pour distinguer les Utilisateurs du Site. Cela permet de
                                fournir aux Utilisateurs une meilleure expérience de navigation et une amélioration du
                                Site et de son contenu. Les objectifs et modalités des cookies sont contenus dans ce
                                présent article.</p>
                            <h3>a. Principes généraux</h3>
                            <p>Un "Cookie" est un fichier déposé temporairement ou de façon permanente sur le disque dur
                                de l'Utilisateur lors de la consultation du Site Internet, en vue d'une connexion
                                ultérieure. Grâce aux cookies, le serveur reconnaît l'ordinateur de l'Utilisateur.</p>
                            <p>Les cookies peuvent aussi être installés par des tiers avec lesquels Mageo collabore.</p>
                            <p>Certains des cookies utilisés par Mageo sont nécessaires au bon fonctionnement du Site,
                                d'autres permettent d'améliorer l'expérience de l'Utilisateur.</p>
                            <p>L'Utilisateur peut personnaliser ou désactiver les cookies en paramétrant son navigateur.
                            </p>
                            <p>En utilisant le Site Internet, l'Utilisateur marque expressément son accord avec la
                                gestion des cookies telle que décrite dans le présent article.</p>
                            <h3>b. Type de cookies et finalités poursuivies</h3>
                            <p>Différents types de cookies sont utilisés par Mageo sur le Site :</p>
                            <ul>
                                <li>Les cookies techniques : ils sont nécessaires à l'exploitation du Site Internet,
                                    permettent la communication des données introduites et sont destinés à faciliter la
                                    navigation de l'Utilisateur ;</li>
                                <li>Les cookies de mesures statistiques et d'audience : ces cookies permettent la
                                    reconnaissance de l'Utilisateur et sont utilisés afin de comptabiliser le nombre
                                    d'Utilisateurs du Site Internet sur une certaine période. Dès lors qu'ils indiquent
                                    aussi le comportement de navigation, ils sont un moyen efficace pour améliorer la
                                    navigation de l'Utilisateur, en lui affichant des propositions et offres
                                    susceptibles de l'intéresser. Ils permettent aussi à Mageo de repérer les possibles
                                    bugs sur le Site Internet et de les corriger.</li>
                                <li>Les cookies fonctionnels : ces cookies facilitent l'utilisation du Site Internet en
                                    retenant certains choix introduits (par exemple, le nom d'utilisateur ou la
                                    langue) ;</li>
                                <li>Les cookies de traçage : Mageo utilise des cookies de traçage via Google Analytics,
                                    pour mesurer l'interaction des Utilisateurs avec le contenu du Site et produire des
                                    statistiques anonymes. Ces statistiques permettent à Mageo de perfectionner le Site
                                    Internet. Google étaye l'explication de ces cookies à l'adresse suivante:
                                    http://www.google.nl/intl/en_uk/policies/privacy/</li>
                            </ul>

                            <h3>c. Délai de conservation des cookies</h3>
                            <p>Les cookies sont conservés pour le temps nécessaire à l'accomplissement de la finalité
                                poursuivie. Les cookies susceptibles d'être stockés sur le disque dur de l'Utilisateur
                                ainsi que leur délai de conservation sont les suivants :</p>
                            <ul>
                                <li>________</li>
                            </ul>
                            <h3>d. Gestion des cookies</h3>
                            <p>Si l'Utilisateur ne veut pas que le Site Internet place des cookies sur son disque dur,
                                il lui est aisé de les gérer ou les supprimer en modifiant les paramètres de son
                                navigateur. La programmation du navigateur permet aussi à l'Utilisateur de recevoir un
                                avis ou une notification dès qu'un Site Internet utilise des cookies et ainsi décider
                                d'accepter cela, ou de le refuser.</p>
                            <p>Si l'Utilisateur désactive certains cookies, il accepte que le Site Internet puisse ne
                                pas fonctionner de manière optimale. Certaines parties du Site Internet pourraient ainsi
                                ne pas être utilisables, ou l'être partiellement.</p>
                            <p>Si l'Utilisateur souhaite ainsi gérer et/ou supprimer certains cookies, il peut le faire
                                en utilisant le/les lien(s) suivant(s):</p>
                            <p>Pour les Utilisateurs ayant comme navigateur :</p>
                            <ul>
                                <li>- Internet Explorer :
                                    http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies</li>
                                <li>- Microsoft Edge : http://windows.microsoft.com/en-gb/windows-10/edge-privacy-faq
                                </li>
                                <li>- Chrome : https://support.google.com/accounts/answer/61416?hl=fr</li>
                                <li>- Firefox : https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences
                                </li>
                                <li>Safari : https://support.apple.com/kb/ph21411?locale=fr_CA</li>
                            </ul>
                            <p>Si l'Utilisateur refuse que les cookies de Google Analytics soient utilisés, il est
                                invité à paramétrer son navigateur en ce sens, sur le site web suivant :
                                http://tools.google.com/dlpage/gaoptout.</p>
                            <h2>10. Limitation de responsabilité du Responsable de traitement</h2>
                            <p>Le site Internet peut contenir des liens vers d'autres sites internet détenus par des
                                tiers non liés à Mageo. Le contenu de ces sites et le respect de ceux-ci au regard de la
                                Loi et du Règlement ne relèvent pas de la responsabilité de Mageo.</p>
                            <p>Le titulaire de l'autorité parentale doit donner son consentement exprès pour que le
                                mineur de moins de 16 ans puisse divulguer des informations ou données personnelles sur
                                le site Internet. Mageo conseille vivement aux personnes exerçant l'autorité parentale
                                sur des mineurs de promouvoir une utilisation responsable et sécurisée d'Internet. Le
                                Responsable de traitement ne peut être tenu responsable pour avoir collecté et traité
                                des informations et données personnelles de mineurs de moins de 16 ans dont le
                                consentement n'est pas effectivement couvert par celui de leurs parents légaux ou pour
                                des données incorrectes -notamment concernant l'âge- introduites par des mineurs. En
                                aucun cas, des données personnelles ne seront traitées par le Responsable de traitement
                                si l'Utilisateur précise qu'il est âgé de moins de 16 ans.</p>
                            <p>Mageo n'est pas responsable de la perte, de la corruption ou du vol de données
                                personnelles causés notamment par la présence de virus ou suite à des attaques
                                informatiques.</p>
                            <h2>11. Sécurité</h2>
                            <p>Le Responsable du Traitement met en œuvre les mesures organisationnelles et techniques
                                afin de garantir un niveau de sécurité appropriée au traitement et récolte des données.
                                Ces mesures de sécurité dépendent des coûts de mise en oeuvre au regard de la nature, du
                                contexte et des finalités du traitement des données personnelles.</p>
                            <p>Le Responsable du Traitement utilise les technologies de cryptage standards au sein du
                                secteur IT lors du transfert ou du recueil des données sur le Site.</p>
                            <h2>12. Modification de la Politique de confidentialité</h2>
                            <p>Mageo se réserve le droit de modifier la présente Politique de confidentialité afin de se
                                conformer aux obligations légales en la matière. L'utilisateur est dès lors invité à
                                consulter régulièrement la Politique de confidentialité afin de prendre connaissance des
                                modifications et adaptations. Une telle modification sera affichée sur le Site ou
                                envoyée par mail à des fins d'opposabilité.</p>
                            <h2>13. Droit applicable et juridiction compétente</h2>
                            <p>La présente Politique de confidentialité est exclusivement régie par le droit belge. Tout
                                litige sera porté devant les tribunaux de l'arrondissement judiciaire du siège social de
                                Mageo.</p>
                            <h2>14. Contact</h2>
                            <p>Pour toute question ou réclamation relative à la présente Politique de confidentialité,
                                l'Utilisateur peut contacter le Responsable du traitement via l'adresse suivante :
                                info@meetandbuild.com</p>
                        </div>
                    </div>
                </div>
            </section>

            <app-footer></app-footer>
            <app-help-button></app-help-button>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>